#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardstack {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 2em;
  flex: 1;
  background-color: rgba(0,0,0,0.1);
  margin: 0 1em;
  border-radius: 10px;
}

.card em {
  color:chocolate;
  font-size: 150%;
}

.read-the-docs {
  color: #888;
}
.cart {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  font-size: 90%;
}

.cart button { 
  margin-top: 10px;
}

table {
  text-align: left;
}

table th {
  text-align: right;
}

table td {
  padding-left: 1.6em;
  min-width: 100px;
}

table td em {
  color: orangered;
}

.pricingJson {
  text-align: left;
  width: 300px;
  background-color: rgba(0,0,0,0.2);
  padding: 2em;
  border-radius: 10px;
  margin: 0 auto;
}